nav{
    display: flex;
    justify-content: space-around;
}

header{
    background-color: lightgray;
    border-style:solid;
    border-radius: 10px;
    border-width: 5px;
    border-color:darkgray;
}

#tp {
    text-decoration: none;
    color: black;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right:30px;
    border-color: darkgray;
}

h1 {
    border-bottom-style:solid;
    border-color:darkgray;
    color: black;

}

#currentPage {
    text-decoration: none;
    color: darkgray;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right:30px;
    border-color: black;
    background-color: black;
}



body {
    background-color: black;
    color: white;
}

fieldset {
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

legend {
    color: white;
    font-size: 1.5em;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

p {
    color: white;
    font-style: italic;
}
