nav{
    display: flex;
    justify-content: space-around;
}

header{
    color: black;
    background-color: lightgray;
    border-style:solid;
    border-radius: 10px;
    border-width: 5px;
    border-color:darkgray;
}

#tp {
    text-decoration: none;
    color: black;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right:30px;
    border-color: darkgray;
}

h1 {
    border-bottom-style:solid;
    border-color:darkgray;
    color: black;

}

#currentPage {
    text-decoration: none;
    color: darkgray;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right:30px;
    border-color: black;
    background-color: black;
}

body { background-color: black; color: white; font-family: Arial, sans-serif; } 
h1, h2 { color: white; } 
.section { margin-bottom: 20px; } 
.section h2 { border-bottom: 1px solid white; padding-bottom: 5px; } 
ul { list-style-type: none; padding: 0; } 
ul li { margin-bottom: 5px; }
#t {color: black}