nav{
    display: flex;
    justify-content: space-around;
}

header{
    background-color: lightgray;
    border-style:solid;
    border-radius: 10px;
    border-width: 5px;
    border-color:darkgray;
}

#tp {
    text-decoration: none;
    color: black;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right:30px;
    border-color: darkgray;
}

h1 {
    border-bottom-style:solid;
    border-color:darkgray;

}

#currentPage {
    text-decoration: none;
    color: darkgray;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right:30px;
    border-color: black;
    background-color: black;
}

body{
    background-color: black;
}

.profile-container { color: white; border: 2px solid gray; border-radius: 10px; padding: 20px; width: 300px; margin: 0 auto; text-align: center; } 
.profile-image { border-radius: 50%; width: 150px; height: 150px; }